# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
Debug/
Release/
x64/
x86/
out/
bin/
obj/

# CMake
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Misc
*.log